name: Automatic Tagging

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "package.json"

permissions:
  contents: write

jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
      - uses: fregante/setup-git-user@v2
      - name: Create tag if not exists
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION=$(jq -r '.version' package.json 2>/dev/null || echo "")
          if [ -z "$VERSION" ]; then
            echo "No version found in package.json"
            exit 1
          fi
          if [ "v$VERSION" == "$(git describe --tags --abbrev=0 2>/dev/null || echo 'v0.0.0')" ]; then
            exit 0
          fi
          git tag "v$VERSION"
          git push origin "v$VERSION"
